<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only (click)="menuProfileRoute()">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-avatar item-center>
        <img src="https://pickaface.net/assets/images/slides/slide2.png">
      </ion-avatar>
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <h3 *ngIf="user.job">{{user.job}}</h3>
      <p *ngIf="user.citation">{{user.citation}}</p>
    </ion-item>




  <ion-list>
    <ion-list-header style="font-size:15px;" color="primary">
      Informations personnels
    </ion-list-header>
    <ion-item *ngIf="user.firstName">Nom :
      <ion-note item-right>
        {{user.lastName}}
      </ion-note>
    </ion-item>

    <ion-item *ngIf="user.lastName">Prenom : <ion-note item-right>
      {{user.firstName}}
    </ion-note></ion-item>
    <ion-item>Adresse :
      <ion-note item-right>
        {{user.adresse}}
      </ion-note>
       </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="primary" style="font-size:15px;">
      Contact
    </ion-list-header>
    <ion-item *ngIf="user.email">Email :
      <ion-note item-right>
        {{user.email}}
      </ion-note>
      </ion-item>
    <ion-item *ngIf="user.tel">Telephone :
      <ion-note item-right>
          {{user.tel}}
      </ion-note>
    </ion-item>


  </ion-list>
</ion-content>
